@import url(https://fonts.googleapis.com/icon?family=Material+Icons|Merriweather:400,400italic,700|Source+Sans+Pro:400,300,700);

body, html {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

.info-container {
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    width: 320px;
    padding: 0;
    font-size: .88em;
    overflow-y: auto;
}

.info-header {
    padding: 1em 0 0 1em;
    margin-bottom: 0;
    text-align: center;
    display: block;
}

.info-header > h1 {
    display:table-cell;
    vertical-align:middle;
}

.info-header > a {
    padding: 0 0 0 0.5em;
    display:table-cell;
    vertical-align:middle;
    font-weight: bold;
}

/*********************/
/*     List CSS      */
/*********************/

.list-view {
    list-style: none;
    padding: 0;
}

.fade li {
    transition: all 0.4s ease-out;
    opacity: 0;
}
.fade li.show {
    opacity: 1;
}

.swing {
    perspective: 200px;
}
.swing li {
    opacity: 0;
    transform: rotateX(-90deg);
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}
.swing li.show {
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.highlight li.show {
    animation: fadeout 4s normal;
    -webkit-animation: fadeout 4s normal;
    background-color: white;
}
@keyframes fadeout {
    20% {
        background-color: antiquewhite;
    }
}

.list-item-container {
    padding: 0.75em 0.5em 0.75em 4em;
    position: relative;
}
.list-item-magnitude {
    align-items: center;
    bottom: .5em;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: .5em;
    position: absolute;
    top: .5em;
    width: 3em
}
.list-item-location {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 0.1em;
}
.list-item-utc {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
}
.list-item-aside {
    bottom: 1em;
    overflow: hidden;
    padding-left: 1.5em;
    position: absolute;
    right: 1em;
    text-align: right;
    white-space: nowrap;
    font-size: .9em;
}
.list-item-selected {
    border: 1px solid #888;
    background-color: white;
}

/********************/
/*      Map CSS     */
/********************/

.map-container {
    display: block;
    position: absolute;
    top: 0;
    left: 320px;
    bottom: 0;
    right: 0;
}
.leaflet-bottom.leaflet-left{
    width: 100%;
}
.leaflet-control-container .leaflet-timeline-controls{
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 15px;
}

.quakes-marker-icon {
    background-image: url('quake.png');
    text-align: center;
    background-size: 100%;
    margin-top: 0;
}

.quakes-marker-icon b {
    color: whitesmoke;
}

.marker-fade-in {
    animation: fadein 1s ease-in-out;
    -webkit-animation: fadein 1s ease-in-out;
    opacity: 1.0
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



