<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PH Quakes History</title>
    <link rel="shortcut icon" href="/static/quakes/quake.png" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="/static/timeline/leaflet.timeline.css" />
    <link rel="stylesheet" type="text/css" href="/static/quakes/quakes.css" />

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type='text/javascript' src='/static/timeline/leaflet.timeline.js'></script>
</head>
<body>
    <div class="info-container">
        <div class="info-header">
            <h1>Quakes History</h1>
            <a href="/">(current)</a>
        </div>
        <ul class="list-view" id="displayed-list"></ul>
    </div>
    <div class="map-container" id="mapid"></div>

    <script type='text/javascript' src='/static/quakes/common.js'></script>
    <script type='text/javascript' src='/static/quakes/history.js'></script>
    <script>

        fetch("/quakes.json")
            .then(response => response.json())
            .then(json => {
                loadData(json);
            });

    </script>
</body>
</html>