<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History of Earthquakes in the Philippines</title>
    <meta name="description" content="History of Earthquakes in the Philippines sourced from PHIVOLCS.">
    <meta property="og:title" content="History of Earthquakes in the Philippines" />
    <meta property="og:url" content="https://ph-quakes.herokuapp.com/history" />
    <meta property="og:description" content="History of Earthquakes in the Philippines sourced from PHIVOLCS.">
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="https://ph-quakes.herokuapp.com/static/quakes/replay_quakes.png">
    <link rel="shortcut icon" href="/static/quakes/quake.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="/static/timeline/leaflet.timeline.css" />

    <link rel="stylesheet" href="/static/sidebar/leaflet-sidebar.min.css" />

    <link rel="stylesheet" type="text/css" href="/static/quakes/quakes.css" />
</head>
<body>
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="/" role="tab"><i class="fa fa-flash"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    Quakes History
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <ul class="quake-list quake-fade quake-highlight" id="displayed-list"></ul>
            </div>
        </div>
    </div>

    <div id="map" class="sidebar-map"></div>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.27/moment-timezone-with-data.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type='text/javascript' src='/static/timeline/leaflet.timeline.js'></script>

    <script type='text/javascript' src="/static/sidebar/leaflet-sidebar.min.js"></script>

    <script type='text/javascript' src="/static/spin/leaflet.spin.min.js"></script>
    <script type='text/javascript' src="/static/spin/spin.min.js"></script>

    <script type='module' src='/static/quakes/common.js'></script>
    <script type='module' src='/static/quakes/history.js'></script>
    <script type="module">

        import HistoryMap from "/static/quakes/history.js";

        const map = new HistoryMap();

        fetch("/quakes.json")
            .then(response => response.json())
            .then(json => {
                map.load(json);
            });

    </script>
</body>
</html>