<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latest Earthquakes in the Philippines</title>
    <meta name="description" content="Latest Earthquakes in the Philippines sourced from PHIVOLCS.">
    <meta property="og:title" content="Latest Earthquakes in the Philippines" />
    <meta property="og:url" content="https://ph-quakes.herokuapp.com/" />
    <meta property="og:description" content="Latest Earthquakes in the Philippines sourced from PHIVOLCS.">
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="https://ph-quakes.herokuapp.com/static/images/current_quakes.png">
    <link rel="shortcut icon" href="/static/quakes/quake.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />

    <link rel="stylesheet" href="/static/sidebar/leaflet-sidebar.min.css" />

    <link rel="stylesheet" type="text/css" href="static/timeline/leaflet.timeline.css" />

    <link rel="stylesheet" type="text/css" href="/static/quakes/quakes.css" />

</head>
<body>
<div class="sidebar collapsed" id="sidebar">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
        <ul role="tablist">
            <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
        </ul>
        <ul role="tablist">
            <li id="history-toggle"><a role="tab"><i class="fa fa-history"></i></a></li>
            <li class="hide" id="current-toggle"><a role="tab"><i class="fa fa-flash"></i></a></li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="sidebar-content">
        <div class="sidebar-pane" id="home">
            <div>
                <h1 class="sidebar-header" id="list-header">
                    Earthquakes 24h
                </h1>
                <h1><span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>

            <ol reversed class="quake-list quake-fade quake-highlight" id="current-list"></ol>
            <ol reversed class="quake-list quake-fade quake-highlight hide" id="history-list"></ol>
        </div>

    </div>
</div>

<div class="sidebar-map map-container" id="current-map"></div>

<div class="sidebar-map map-container hide" id="history-map"></div>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js'></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.27/moment-timezone-with-data.min.js"></script>

    <script type='text/javascript' src='static/timeline/leaflet.timeline.js'></script>

    <script type='text/javascript' src="/static/sidebar/leaflet-sidebar.min.js"></script>

    <script type='text/javascript' src="/static/spin/leaflet.spin.min.js"></script>
    <script type='text/javascript' src="/static/spin/spin.min.js"></script>

    <script type='text/javascript' src='static/quakes/quakes.js'></script>


</body>
</html>