<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PH Quakes</title>
    <link rel="shortcut icon" href="/static/quakes/quake.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />

    <link rel="stylesheet" href="/static/sidebar/leaflet-sidebar.min.css" />

    <link rel="stylesheet" type="text/css" href="/static/quakes/quakes.css" />

</head>
<body>
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="/history" role="tab"><i class="fa fa-history"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    Quakes 24h
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <ul class="quake-list quake-fade quake-highlight" id="displayed-list"></ul>
            </div>

        </div>
    </div>

    <div id="map" class="sidebar-map"></div>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script type='text/javascript' src="/static/sidebar/leaflet-sidebar.min.js"></script>

    <script type='text/javascript' src='/static/quakes/common.js'></script>
    <script type='text/javascript' src='/static/quakes/current.js'></script>
    <script>

        function connect() {
            const wsUri = (window.location.protocol==='https:'&&'wss://'||'ws://') + window.location.host + '/ws/';
            let ws = new WebSocket(wsUri);
            let loaded = false;
            ws.onopen = function() {
                // TODO: set config here.
            };

            ws.onmessage = function(e) {
                const json = JSON.parse(event.data);
                console.log('New quakes ', json);
                if(!loaded) {
                    loadData(json);
                    loaded = true;
                } else {
                    appendData(json);
                }
            };

            ws.onclose = function(e) {
                console.log('Socket is closed. Reconnect will be attempted in 10 seconds.', e.reason);
                setTimeout(function() {
                    connect();
                }, 10000);
            };

            ws.onerror = function(err) {
                console.error('Socket encountered error: ', err.message, 'Closing socket');
                ws.close();
            };
        }

        connect();

    </script>
</body>
</html>