<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PH Quakes</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
    <link rel="stylesheet" type="text/css" href="/static/timeline/leaflet.timeline.css" />
    <link rel="stylesheet" type="text/css" href="/static/quakes/quakes.css" />

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type='text/javascript' src='/static/timeline/leaflet.timeline.js'></script>
</head>
<body>
    <div class="list-container">
        <h2>Earthquakes PH 24h</h2>
        <ul class="list-view" id="displayed-list"></ul>
    </div>
    <div class="map-container" id="mapid"></div>

    <script type='text/javascript' src='/static/quakes/quakes.js'></script>
    <script>
        const wsUri = (window.location.protocol==='https:'&&'wss://'||'ws://') + window.location.host + '/ws/';
        const socket = new WebSocket(wsUri);
        let loaded = false;
        socket.addEventListener('message', function (event) {
            const json = JSON.parse(event.data);
            console.log('Message from server ', json);
            if(!loaded) {
                loadData(json);
                loaded = true;
            } else {
                updateData(json);
            }
        });
    </script>
</body>
</html>