body {
    padding: 0;
    margin: 0;
}

html, body  {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sidebar {
    width: 390px;
}

.sidebar-close > i {
    color: white;
}

.map-container {
    height: 100%;
}

.hide {
    display: none;
}

/*********************/
/*     List CSS      */
/*********************/

.quake-list {
    list-style: none;
    padding: 0;
    max-width: 320px;
}

.quake-fade li {
    transition: all 0.4s ease-out;
    opacity: 0;
    cursor: pointer;
    border: 1px solid transparent;
}
.quake-list li:hover {
    border: 1px solid #989898;
}
.quake-fade li.quake-show {
    opacity: 1;
}

.quake-highlight li.quake-show {
    animation: fadeout 4s normal;
    -webkit-animation: fadeout 4s normal;
    background-color: white;
}
@keyframes fadeout {
    20% {
        background-color: antiquewhite;
    }
}

.quake-container {
    padding: 0.75em 0.5em 0.75em 4em;
    position: relative;
}
.quake-magnitude {
    align-items: center;
    bottom: .5em;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: .5em;
    position: absolute;
    top: .5em;
    width: 3em
}
.quake-location {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 0.1em;
}
.quake-timestamp {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
}
.quake-aside {
    bottom: 1em;
    overflow: hidden;
    padding-left: 1.5em;
    position: absolute;
    right: 1em;
    text-align: left;
    white-space: nowrap;
    font-size: .9em;
}

/********************/
/*      Map CSS     */
/********************/

.leaflet-bottom.leaflet-right {
    width: 66%;
}
.leaflet-control-container .leaflet-timeline-controls{
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 15px;
}

.quakes-marker-icon {
    background-image: url('quake.png');
    text-align: center;
    background-size: 100%;
    margin-top: 0;
}

.quakes-marker-icon b {
    color: whitesmoke;
}

.marker-fade-in {
    animation: fadein 1s ease-in-out;
    -webkit-animation: fadein 1s ease-in-out;
    opacity: 1.0
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

